<a href="/blog/{{id}}" class="nav-link text-light">
<div class="bgcolor_2 text-light p-3 rounded row ">
    <div class="col-9">{{title}}</div>
    <div class="col-3"><span>posted by : {{user.name}} on {{format_date created_at}}</span> </div>
    </div>

</a>