

<a href="/blog/{{id}}" class="nav-link text-light">
<div class="card mb-1 p-1 bgcolor_3">
  <h5 class="card-header  text-light">{{title}} </h5>
  <footer class="blockquote-footer post_by"><cite title="Source Title">Post by
      {{user.name}}
      on
      {{format_date createdAt}}</cite>
  </footer>
 
</div>

</a>