{{#if logged_in}}<br> <div class="post_by"><a type="button" href="/addBlog" class="btn bgcolor_2 text-light" >
 <i class="bi bi-plus-circle-fill"></i> New Blog
</a></div> {{/if}}
{{#each blogs as |blog|}}
{{> blog-detail}}
{{/each}}