{{!-- <div class="shadow-lg p-3 mb-5 bg-white rounded"><h5>Login</h5></div> --}}

<div class="row align-top">
  <div class="col-md-5 border p-0 m-3">
    <div class="bgcolor_2 text-light border rounded p-2"><h6>Login</h6></div>
    <form class="login-form">
      <div class="form-group p-2">
        <label>Email </label>
        <input
          type="text"
          class="form-control"
          id="email-login"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />

      </div>
      <div class="form-group p-2">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
      </div>
      <div class="form-group p-2">
        <button type="submit" class="btn bgcolor_1 text-light">Submit</button></div>

    </form>

  </div>
  <div class="col-md-5 border p-0">

    <div class="bgcolor_2 text-light border rounded p-2"><h6>Signup</h6></div>
    <form class="signup-form">
      <div class="form-group p-2">
        <label for="name-signup">Name</label>
        <input class="form-control" type="text" id="name-signup" />
      </div>
      <div class="form-group p-2">
        <label for="email-signup">Email</label>
        <input class="form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group p-2">
        <label for="password-signup">Password</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group p-2">
        <button class="btn bgcolor_1 text-light" type="submit">SignUp</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script> 