.bgcolor_1
{
    background-color: #682323;
}
.bgcolor_2
{
    background-color: #C0392B;
}
.bgcolor_3
{
    background-color: #EC7063;
}
.post_by
{
    text-align: right;
    color: white;
    margin-top: -1.5rem;
    margin-bottom: 0;
    padding-right: 5px;;
}
.blockquote
{
    font-size: 1rem;
}
